*{
    margin: 0;
    font-family: sans-serif;
}
.header{
    width: 100%;
    height: 100px;
    background-color: #1C2121;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.a1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
}
.a3{
    display: none;
}
.sec1{
    width: 100%;
    height: 600px;
    background-image: url(./2993b2d0a62c370c32c080d125ecd8f57eab3380.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: azure;
    padding-top: 1px;
}
.a2{
    width: 400px;
    height: 400px;
    margin-top: 120px;
    margin-left: 220px;
}
.sec2{
    width: 100%;
    height: 800px;
    background-color: #1C2121;
    padding-top: 1px;
    text-align: center;
    color: azure;
}
.b1{
    width: 80%;
    height: 120px;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
    background-color: #252C2C;
    color: azure;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.b2{
    width: 300px;
    height: 70px;  
}
.b4{
    width: 100%;
    height: 120px;
    margin-top: 40px;
    color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
}
.b5{
    width: 320px;
    height: 80px;
    border-radius: 10px;
    border: 3px solid gray;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    gap: 20px;
}
.b6{
    margin-top: 20px;
}
.h1{
    font-size: 30px;
    margin-top: 80px;
}
.b7{
    width: 390px;
    height: 80px;
    margin: auto;
    margin-top: 40px;
}
.sec3{
    color: white;
    width: 100%;
    height: 900px;
    background-color: #252C2C;
    padding-top: 1px;
}
.c1{
    width: 80%;
    height: 400px;

    margin: auto;
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.c2{
    width: 400px;
    height: 400px;

}
.c3{
    width: 600px;
    height: 400px;
}
.c4{
    width: 100%;
    height: 100%;
}
.c5{
    width: 100%;
    height: 100px;

    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.c6{
    width: 350px;
    height: 80px;
    background-color: black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 20px;
}
.c7{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.sec4{
    width: 100%;
    height: 900px;
    background-color: #1C2121;
    padding-top: 1px;
    color: white;
}
.sec5{
    width: 100%;
    height: 1500px;
    background-color: #1f1f1f;
    color: azure;
    padding-top: 1px;
}
.h2{
    margin: auto;
    text-align: center;
    margin-top: 50px;
}
.d1{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 00px;
}
select{
    background-color: #2b2b2b;
    color: white;
    border: 2px solid #dcdcdc;
    border-radius: 10px;
    padding: 15px;
    width: 350px;
}
.d2{
    width: 100%;
    height: 240px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.d3{
    width: 80%;
    height: 250px;
    border: 2px solid #dcdcdc;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.bn1{
   width: 400px;
   height: 60px; 
}
.d5{
    width: 100%;
    height: 300px;

    margin-top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.d6{
    width: 400px;
    height: 200px;
}
.aa{
    width: 50%;
    height: 40px;
    padding: 10px;
    background-color: orange;
    border-radius: 10px;
    border: none;
    margin-top: 30px;
}
.sec6{
    width: 100%;
    height: 300px;
    background-image: url(./image\ 281.png);
    display: flex;
    justify-content: start;
    align-items: center;
}
.e1{
    width: 490px;
    height: 200px;
    margin-left: 60px;
    color: #dcdcdc;
}




@media (max-width:510px) {
    .header{
        width: 100%;
        height: 110px;
        font-size: 10px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .a1{
            width: 80%;
            flex-wrap: wrap;
            height: 70px;
        }
        .a3{
            display: block;
        }
        .a4{
            display: none;
        }
    }
    .sec1{
        width: 100%;
        margin: auto;
        height: 400px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        .a2{
            display: none;
        }
    }
    .sec2{
        width: 100%;
        height: 1300px;
        text-align: center;
        .b1{
            height: 300px;
            flex-wrap: wrap;
        }
        .b3{
            width: 80%;
            height: 65px;
        }
        .b4{
            flex-wrap: wrap;
            width: 100%;
            height: 400px;
        }
        .b5{
            margin: auto;
            height: 60px;
            align-items: center;
            gap: 10px;
            justify-content: center;

        }
        .b6{
            display: none;
        }
    }
    .sec3{
        width: 100%;
        height: 1600px;
        flex-wrap: wrap;
        .c1{
            flex-wrap: wrap;
            height: 800px;
        }
        .c5{
            flex-wrap: wrap;
            height: 400px;
        }
        .c7{
            width: 90%;
        }
        .c8{
            display: none;
        }
        .img{
            width:  200px;
            height: 200px;
        }
        .bn{
            display: none;
        }
    }
    .sec4{
        width: 100%;
        height: 1600px;
        flex-wrap: wrap;
        .c1{
            flex-wrap: wrap;
            height: 800px;
        }
        .c5{
            flex-wrap: wrap;
            height: 400px;
        }
        .c7{
            width: 90%;
        }
        .c8{
            display: none;
        }
        .img{
            width:  200px;
            height: 200px;
        }
        .bn{
            display: none;
        }
    }
    .sec5{
        width: 100%;
        height: 3500px;
        margin: auto;
        text-align: center;
        .d1{
            width: 80%;
            height: 400px;
            flex-wrap: wrap;
            margin: auto;
            text-align: center;
        }
        .d3{
            width: 80%;
            height: 700px;
            flex-wrap: wrap;
        }
        .d2{
            width: 90%;
            margin: auto;
            height: 800px;
        }
        .qq{
            width: 200px;
            height: 200px;
        }
        .d5{
            width: 90%;
            margin: auto;
            flex-wrap: wrap;
            height: 400px;
        }
    }
}